@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1485938015695'); /* IE9*/
  src: url('iconfont.eot?t=1485938015695#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1485938015695') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1485938015695') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1485938015695#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-text:before { content: "\e616"; }

.icon-close:before { content: "\e6a7"; }

.icon-radio:before { content: "\e71f"; }

.icon-checkbox:before { content: "\e720"; }

.icon-front:before { content: "\e775"; }

.icon-back:before { content: "\e779"; }
